
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
.newgame a,
.populargm a,
.genre a,
.slider a {
  text-decoration: none;
  color: #000;
}
.newgame a:hover,
.populargm a:hover,
.genre a:hover,
.slider a:hover {
  color: #000;
}
.slider {
  position: relative;
}
.genre-title,
.section-title {
  font-weight: 700;
}
.gm-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  transition: transform 1s ease-in-out;
}
.gm-list li {
  width: 33.3%;
}
.gm-list li img {
  border-radius: 5px;
}
.gm-list .game-title {
  font-weight: 600;
}
.gm-list .game-developer {
  color: #74747b;
  white-space: normal;
  font-weight: 400;
}
.gm-box {
  overflow: hidden;
}
.newgame .newgame-list img {
  border-radius: 5px;
  width: 300px;
}
.newgame .newgame-list li {
  margin-bottom: 30px;
}
.newgame .newgame-list li a {
  display: flex;
}
.newgame .newgame-list .game-content {
  padding: 30px 0 0 30px;
}
.newgame .newgame-list .game-content .game-title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
.newgame .newgame-list .game-content .game-description {
  color: #74747b;
}

.populargm .populargm-list img {
  border-radius: 5px;
  width: 300px;
}
.populargm .populargm-list li {
  margin-bottom: 30px;
}
.populargm .populargm-list li a {
  display: flex;
}
.populargm .populargm-list .game-content {
  padding: 30px 0 0 30px;
}
.populargm .populargm-list .game-content .game-title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
.populargm .populargm-list .game-content .game-description {
  color: #74747b;
}

.genre .genre-list img {
  border-radius: 5px;
  width: 300px;
}
.genre .genre-list li {
  margin-bottom: 30px;
}
.genre .genre-list li a {
  display: flex;
}
.genre .genre-list .game-content {
  padding: 30px 0 0 30px;
}
.genre .genre-list .game-content .game-title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
.genre .genre-list .game-content .game-description {
  color: #74747b;
}
.select-box {
  padding: 24px 0 0 32px;
}
.select-box label {
  padding: 0 0.5em;
}
.prev,
.next {
  position: absolute;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
  cursor: pointer;
  color: #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
}
.prev {
  left: -5px;
}
.next {
  right: -5px;
}
footer {
  background-color: #333;
  padding: 20px 10px;
  color: #a5a5a7;
  margin-top: 100px;
}
@media screen and (min-width: 1200px) {
  .home {
    margin: 0 calc(50vw - 600px);
  }
  .genre-title {
    padding: 32px 0 0 20px;
    font-size: 32px;
  }
  .section-title {
    padding: 32px 0 14px 20px;
    font-size: 22px;
  }
  .gm-list li {
    padding: 0 20px;
    font-size: 14px;
  }
  .gm-list .game-title {
    font-size: 16px;
  }
  .gm-list .game-developer {
    font-size: 13px;
  }
  .newgame,
  .populargm,
  .genre {
    margin: 0 calc(50vw - 600px);
  }
  .newgame-list,
  .populargm-list,
  .genre-list {
    margin: 40px 0;
  }
}
@media screen and (max-width: 1200px) {
  .home {
    margin: 0;
  }
  .slider {
    margin: 0 12px;
  }
  .genre-title {
    padding: 32px 0 0 20px;
    font-size: 28px;
  }
  .section-title {
    padding: 32px 0 14px 20px;
    font-size: 20px;
  }
  .gm-list .game-title {
    font-size: 14px;
  }
  .gm-list .game-developer {
    font-size: 11px;
  }
  .gm-list li img {
    width: 29vw;
  }
  .gm-list li {
    padding: 0 1.5vw;
  }
}